

.i-page-shopping-cart {
    padding: 40px;
    margin: 20px;
    background-color: white;
}

.i-page-shoping-payments {
    padding: 20px;
    background-color: white;
    margin: 20px 20px 20px 40px;
}

.i-page-shoping-payments-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.i-page-shoping-payments-pre {
    width: 100%;
    line-height: 32px;
}

.i-page-shoping-payments-btn {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}